<header class="banner">
    <div class="container">
        <h1 class="siteTitle">{{site.title}}</h1>
        <ul class="mainNav">
            <li><a href="/Schedule">Schedule</a></li>
            <li><a href="/mixes">Mixes</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/news">News</a></li>
        </ul>

        <ul class="socialMedia floatRight">
            <li><a href="https://soundcloud.com">SC</a></li>
            <li><a href="https://mixcloud.com">MC</a></li>
            <li><a href="https://facebook.com">FB</a></li>
            <li><a href="https://Twitter.com">TW</a></li>
            <li><a href="https://Instagram.com">IG</a></li>
            <li><a href="mailto:iam@strgl.test">EM</a></li>
        </ul> 
    </div>
</header>
